<style>
		#form_text {
			border-radius: 5px;
			outline: none;
			color: grey;

		}
		label {
			position: absolute;
			top: 72px;
		}
		.btn {
			margin-top: 5px;
			width: 100px;
		}

		h2 {
			font-size: 15px;
			margin: -10px auto;
			float: right;
		}


    .hero-spacer {
        margin-bottom: 50px;
        width: 800px;
        margin: 50px auto;
    }
    
</style>

<script type="text/javascript" src="/assets/dateformat.js"></script>
<script>
	 // var dateFormat = require('dateformat');
			$(document).ready( function() {

			messageDelete();
			setInterval(refreshMessages,30000);
			// refreshMessages();
		});


		function messageDelete() {
			$(".fa-times.delete").click( function() {
					var current_message_div = $(this).parents('div')[0];
						console.log(current_message_div);
				if(confirm("Are you sure?")){
					$.ajax({
						url: '/messages/' + $(current_message_div).attr("data-message_id"),
						type: 'DELETE',
						data: { method: 'DELETE' },
						success: function(result) {
							$(current_message_div).fadeOut(200);
							console.log(result);
						}
					});

				};
			});

		}


		// 	var result = '<%= @received %>';
		function refreshMessages() {
			console.log("refreshing...");
			$.ajax ({
				url: '/messages/received/<%= params[:user_id] %>',
				type: 'GET', 
				dataType:"json",
				success: function(result) {
					console.log("got result:",result);
					if( result && result.length ) {
						result.forEach( function(c,i) {
							$("#received").prepend(`
								<div id="received" class="blok_right">
									<p id="getfrom">${c.body}</p><br>
														<h2>${dateFormat(new Date(c.created_at),"dddd, mmmm dS, yyyy h:mm TT")}</h2>
								</div>`)
						})
						
					}
				}
			});
		}
</script>

<header class="jumbotron hero-spacer">
	<%= form_for :message, remote: true do |f| %>
		   	<%= f.text_area :body, size: "60x8", id: "form_text", placeholder: "Please, enter your message" %><br />
		    	<%= f.hidden_field :user_id, :value => params[:user_id] %>
    		<%= f.hidden_field :sender_id, :value => @current_user.id %>   
     <%= f.submit 'Send', :class => 'btn btn-warning' %>
 <% end %>
</header>

<hr>

	<div class="container" id="refresh">
<!-- sent messages -->
			<div class="col-md-6">
						<p>Sent:</p>
								<% @sent.each do |s| %> 
											<div class="blok_left" data-message_id="<%= s.id %>">
													<p><%= s.body %>
														<i class="fa fa-times delete" aria-hidden="true"></i>
													</p><br>
													<h2><%= s.created_at.strftime("%d %b. %Y") %> <%= s.created_at.strftime("%H:%M") %></h2>
											</div>
								<% end %> 
			</div>
<!-- received messages -->
			<div class="col-md-6">
							<p>Received:</p>
								<div id="received">
									<% @received.each do |r| %> 
											<div class="blok_right">
													<p id="getfrom"><%= r.body %></p><br>
														<h2><%= r.created_at.strftime("%d %b. %Y") %> <%= r.created_at.strftime("%H:%M") %></h2>
											</div>
									<% end %> 
								</div>
			</div>

	</div>