<style>
		
		#form_text {
			border-radius: 5px;
			outline: none;
			color: grey;

		}
		label {
			position: absolute;
			top: 72px;
		}
		.btn {
			margin-top: 5px;
			width: 100px;
		}

		.blok {
			position:relative;
			width:80%;
			padding:1em;
			margin:1em 10px 1em;
			background:#fff;
			box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
									0 1px 4px rgba(0, 0, 0, 0.3), 
									0 0 40px rgba(0, 0, 0, 0.1) inset;
			border-radius: 10px;
		}

		.blok:before,
		.blok:after {
			content:"";
			position:absolute;
			z-index:-2;
		}

		.blok {
			font-size:16px;
			font-weight:bold;
			
		}

		h2 {
			font-size: 15px;
			margin: 2px auto;
			float: right;
		}

</style>


<header class="jumbotron hero-spacer">
	<%= form_for :message do |f| %>
		<%= f.label :Message %>
		   	<%= f.text_area :body, size: "60x8", id: "form_text" %><br />
		    	<%= f.hidden_field :user_id, :value => params[:user_id] %>
    		<%= f.hidden_field :sender_id, :value => @current_user.id %>   
     <%= f.submit 'Submit', :class => 'btn btn-default' %>
 <% end %>
</header>

<hr>

	<div class="container">
<!-- sent messages -->
			<div class="col-md-6">
						<p>Sent:</p>
								<% @sent.each do |s| %> 
											<div class="blok">
													<p><%= s.body %></p><br>
															<% User.where(id: s.user_id).each do |u| %>
																<%= u.firstname %> <%= u.lastname %>
																<% end %>
															<h2><%= s.created_at.strftime("%d %b. %Y") %> <%= s.created_at.strftime("%H:%M") %></h2>
											</div>
								<% end %> 
			</div>
<!-- received messages -->
			<div class="col-md-6">
							<p>Received:</p>
									<% @received.each do |r| %> 
											<div class="blok">
													<p><%= r.body %></p><br>
													<% User.where(id: r.sender_id).each do |u| %>
																<%= u.firstname %> <%= u.lastname %>
																<% end %>
														<h2><%= r.created_at.strftime("%d %b. %Y") %> <%= r.created_at.strftime("%H:%M") %></h2>
											</div>
									<% end %> 
			</div>

	</div>