<!-- Page Content -->
<div class="container">

<header class="jumbotron hero-spacer">
  <% if signed_in? %>
		<h1>Welcome, <%= current_user.firstname %> <%= current_user.lastname %> !</h1>
	<% else %>
<% end %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <p><%= link_to 'Edit account', edit_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Latest Results</h3>
    </div>
</div>
<!-- /.row -->
    <% @places.each do |place| %>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="erven"><img src="#" alt=""></div>
                    <div class="caption">
                        <h3><%= place.name %></h3>
                        <p><%= place.address %></p>
                        <p><%= place.phone %></p>
                        <p>
                        <%= link_to 'More Info', place_path(place.id), class: "btn btn-default" %>
                        </p>
                    </div>
                </div>
            </div>
    <% end %>
</div>
<!-- /.row -->

<style>

    .caption {
        min-height: 230px;
    }

    .btn-default {
        position: absolute;
        top: 200px;
        right: 110px;
    }

    .hero-spacer {
        margin-bottom: 50px;
    }

</style>