<!-- Page Content -->
<div class="container">

<header class="jumbotron hero-spacer">
  <% if signed_in? %>
		<h1>Welcome, <%= current_user.firstname %> <%= current_user.lastname %> !</h1>
	<% else %>
<% end %>
    <blockquote>
        <p>My whole story is just about me having a second chance.</p>
            <footer>Two Chainz</footer>
    </blockquote>
    <p><%= link_to 'Edit account', edit_user_registration_path, class: "btn btn-success btn-large" %>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Your friends</h3>
    </div>
</div>
<!-- /.row -->
    <% @contacts.each do |m| %>
         <div class="row">
                    <div class="col-sm-4">
                        <%= image_tag m.avatar.url(:medium), class: "img-circle img-responsive img-center" %>
                        <h4><a href='/users/<%= m.id %>'><%= m.firstname %> <%= m.lastname %></a></h4>
                    </div>
            <% end %>
        </div>

<!-- /.row -->

<style>

    .caption {
        min-height: 230px;
    }

    .btn-default {
        position: absolute;
        top: 220px;
        right: 110px;
    }

    .hero-spacer {
        margin-bottom: 50px;
    }

</style>