<!-- Page Content -->
<div class="container">

<header class="jumbotron hero-spacer">
    <div class="row">
        <div class="col-sm-9 col-sm-push-1">
            <% if signed_in? %>
                <h3>Welcome, <%= current_user.firstname %> <%= current_user.lastname %> !</h3>
            <% else %>
            <% end %>
            <blockquote>
                <p>My whole story is just about me having a second chance.</p>
                <footer id="author">Two Chainz</footer>
            </blockquote>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
            <div id="myProf">
                <div class="img-thumbnail" id="prof-pic"><%= image_tag current_user.avatar.url(:thumb) %>
                    <p><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-default btn-small" %></p>
                </div>
                
            </div>  
                
        </div>
    </div>
</header>

<hr>

<!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Your connections</h3>
        </div>    
        <% @contacts.each do |m| %> 
                    <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                        <div class="img-thumbnail connections">
                        <a id="friend-name" href='/users/<%= m.id %>'><%= image_tag m.avatar.url, class: "img_bottom" %><%= m.firstname %> <%= m.lastname %></a></div>
                    </div><br>
            <% end %>
    </div>
<!-- /Row -->
</div>


<style>
    /*Custom style*/
    .connections{margin-bottom: 20px;}
    .caption {min-height: 230px;}
    #prof-pic{position: relative;}
    .btn-small {position: absolute;right: -1px;left: -1px; bottom: -15px;border-top-right-radius: 0px;border-top-left-radius: 0px;border-top-color: #fff;}
    .btn-small:hover{border-color: white;}
    .hero-spacer {margin-bottom: 10px;min-height: 300px;position: relative;}
    h3, p, a, #author {color: #ECECEA;font-family: 'Merriweather Sans', sans-serif;}
    h3 {text-align: center;}
    a:hover {color: #fff;}
    main {padding-bottom: 10px;}

</style>