<!-- Page Content -->
<div class="container">

<header class="jumbotron hero-spacer">
    <div class="row">
        <div class="col-sm-9 col-sm-push-1">
            <% if signed_in? %>
                <h3>Welcome, <%= current_user.firstname %> <%= current_user.lastname %> !</h3>
            <% else %>
            <% end %>
            <blockquote>
                <p>My whole story is just about me having a second chance.</p>
                <footer id="author">Two Chainz</footer>
            </blockquote>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0">
            <div id="myProf">
                <div id="prof-pic"><%= image_tag current_user.avatar.url(:thumb), class: "img-thumbnail profile" %>
                    <p><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-default btn-small" %></p>
                </div>
                
            </div>  
                
        </div>
    </div>
</header>

<hr>

<!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Your connections</h3>
        </div>    
        <% @contacts.each do |m| %> 
                    <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0">
                        <div class="img-thumbnail connections">
                        <a id="friend-name" href='/users/<%= m.id %>'><%= image_tag m.avatar.url, class: "img_bottom" %><%= m.firstname %> <%= m.lastname %></a></div>
                    </div><br>
            <% end %>
    </div>
<!-- /Row -->
</div>


<style>
    /*Custom style*/
    .connections{margin-bottom: 20px;}
    .caption {min-height: 230px;}
    #prof-pic{position: relative;}
    .btn-small {position: absolute;right: -1px;left: -1px; bottom: -27px;border-top-right-radius: 0px;border-top-left-radius: 0px;border-top-color: #fff; font-size: calc(.5em + .2vw);}
    .btn-small:hover{border-color: white;}
    .hero-spacer {margin-top: 100px;min-height: 300px;position: relative;}
    h3, p, a, #author {color: #ECECEA;font-family: 'Merriweather Sans', sans-serif;}
    h3 {text-align: center;}
    a:hover {color: #fff;}

</style>
<script>
  $(document).ready(function() {
    function myHeight() {
      var profimage = $(".img-thumbnail.profile").width() + 10;
      var footer = $(".navbar-bottom").height(),
          height = $(window).height(),
          setHeight = height - footer;
    $("#mmain").css({"min-height": setHeight, "padding-bottom":"0px"});
    $(".btn.btn-default.btn-small").css({"width":profimage, "margin-left":"1px"});    
    }
    myHeight();
    $(window).on('resize', function() {
      myHeight();
    });
  });
</script>