<!-- Page Content -->
<div class="container">

<header class="jumbotron hero-spacer">
  <% if signed_in? %>
		<h3>Welcome, <%= current_user.firstname %> <%= current_user.lastname %> !</h3>
	<% else %>
<% end %>
    <blockquote>
        <p>My whole story is just about me having a second chance.</p>
            <footer id="author">Two Chainz</footer>
    </blockquote>
        <div class="frame profile"><%= image_tag current_user.avatar.url(:thumb) %></div>
    <p><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-warning btn-large" %>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Your friends</h3>
    </div>
</div>
<!-- /.row -->
    <div class="row">
        <% @contacts.each do |m| %> 
                    <div class="col-sm-2">
                        <div class="img-fiends"><%= image_tag m.avatar.url, class: "img_bottom" %></div>
                        <a href='/users/<%= m.id %>'><%= m.firstname %> <%= m.lastname %></a>
                    </div>
            <% end %>
        </div>

<!-- /.row -->

<style>

    .caption {
        min-height: 230px;
    }

    .btn-warning {
        position: absolute;
        top: 340px;
        right: 125px;
    }

    .hero-spacer {
        margin-bottom: 10px;
        min-height: 300px;
    }


    h3, p, a, #author {
        color: #ECECEA;
        font-family: 'Merriweather Sans', sans-serif;
    }
    h3 {
        text-align: center;
    }
    a {
        margin-left: 23px;
    }

    a:hover {
        color: #fff;
    }

    
</style>