<!-- Page Content -->
<div class="container">

<header class="jumbotron hero-spacer">
    <h1><%= @user.firstname%> <%= @user.lastname%></h1>
        <div class="container">
        <div class="col-md-6">
            <%= image_tag @user.avatar.url(:medium), class: "img-circle img-responsive img-center"  %>
                
        </div>
        
        <div class="col-md-6">
            <p>Age: <%= @age %></p>
            <p>Gender: <%= @user.gender %></p>
            <p>Email: <%= @user.email %></p>
        </div>

    <p><%= link_to image_tag('/images/message.png'), new_message_path(@user.id), class: "btn_message" %>
    </p>
    </div>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Last Visited Places</h3>
    </div>
</div>
<!-- /.row -->
    <% @places.each do |place| %>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="erven"><img src="<%= place.logo %>" alt=""></div>
                    <div class="caption">
                        <h3><%= place.name %></h3>
                        <p><%= place.address %></p>
                        <p><%= place.phone %></p>
                        <p>
                        <%= link_to 'More Info', place_path(place.id), class: "btn btn-default" %>
                        </p>
                    </div>
                </div>
            </div>
    <% end %>
</div>
<!-- /.row -->

<style>
    .caption {
        min-height: 230px;
    }

    .btn-default {
        position: absolute;
        top: 220px;
        right: 110px;
    }

    .hero-spacer {
        margin-bottom: 50px;
        width: 800px;
        margin: 50px auto;
    }

    .btn_message img {
        position: absolute;
        width: 150px;
        top: 399px;
        right: 390px;
        
    }
</style>