<!-- Form for search -->
<div class="container">
    <div class="row">
        <div class="form-group top_form search rounded col-xs-12 col-xs-pull-1 col-xs-offset-2 col-sm-10 col-sm-offset-4">
            <%= form_tag search_path, method: :get do %>
                <%= text_field_tag 'search', nil, :placeholder =>'Search' %>
                    <%= button_tag"", class: "btn-img" %>
            <% end %>
        </div>        
    </div>
</div>

	<% @items.each do |item| 
        next unless item
        %> 
          <div class="clearfix">
            <div class=" col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0 hero-feature">
                <div class="thumbnail">
                    <div class="erven"><img src="<%= item[:logo] %>"></div>
                    <div class="caption">
                        <address>
                        <span><%= item[:name] %></span></br>
                            <%= item[:address1] %></br>
                            <%= item[:address2] %></br>
                            Phone: <%= item[:phone] %> 
                        </address>
                        <h5>Distance: <%= item[:distance].round(-2)/1000.0 %> miles</h5>                        

                        <!-- Form for a new Place -->
                        <%= form_for @place  do |f| %>
                        <%= f.hidden_field :site_id, :value => item[:id] %>
                        <%= f.hidden_field :name, :value => item[:name] %>
                        <%= f.hidden_field :address, :value => "#{item[:address1]}, #{item[:address2]}" %>
                        <%= f.hidden_field :phone, :value => item[:phone] %>
                        <%= f.hidden_field :logo, :value => item[:logo] %>
                        
                            <%= f.label :date %>
                             <!-- Row -->
                             <div class="row">
                                 <div class="col-xs-4">
                                    <%= f.select(:day, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]), {:prompt => 'day'}, {:class => "form-control slct-box"}) %>
                                 </div>
                                  <div class="col-xs-4">
                                     <%= f.select(:month, options_for_select(['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']), {:prompt => 'month'}, {:class => "form-control slct-box"}) %>
                                  </div>
                                 <div class="col-xs-4">
                                     <%= f.select(:year, options_for_select([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020].reverse), {:prompt => 'year'}, {:class => "form-control slct-box"}) %> 
                                </div>
                            </div>
                            <!-- /Row -->

                            <%= f.label :time %>
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-xs-4">
                                         <%= f.select(:time_from, options_for_select(['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00']), {:prompt => 'from'}, {:class => "form-control slct-box"}) %>
                                    </div>
                                    <div class="col-xs-4">
                                         <%= f.select(:time_to, options_for_select(['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00']), {:prompt => 'to'}, {:class => "form-control slct-box"}) %>
                                    </div>
                                </div>
                                <!-- /Row -->
                                
                                <input type="submit" value="" class="btn-save" style="background-image: url(/images/savelock.png);" />
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<style>
    /*Custom style on the page*/
    .btn-save {width: 45px;height: 45px;background-size: cover;position: absolute;bottom: 35px;right: 35px;background-color: #fff;border-color:none;border:0;outline: none;}
    .top_form {margin-top: 20px;margin-bottom: 40px;}
    .search input {width: 280px;outline: none;padding:3px 10px 3px 10px;margin:3px;background-color: #fff;} 
    .rounded input {border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}
    .btn-img {background: url('/images/search.png') no-repeat 3px 12px;margin-top: 3px;width: 36px;height: 36px;background-image:;border-color: #fff;outline: none;border:0;}
    @media(max-width: 768px){.col-sm-2{font-size: 5px;}.search input{width: 200px;}.hero-feature{margin-left: 15px;}.slct-box{font-size:calc(.7em + .4vw);padding: 0px 0px;}}
</style>


