<% if current_user.places.count > 0 %> 
   <!-- Google Map -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xs-pull-1 col-sm-12 col-sm-offset-1" id="map-div">
            <header class="business-header">
                <div class="wrapper">
                    <div class="map" id="map"></div>
                    <i class="top"></i>
                    <i class="right"></i>
                    <i class="bottom"></i>
                    <i class="left"></i>
                    <i class="top left"></i>
                    <i class="top right"></i>
                    <i class="bottom left"></i>
                    <i class="bottom right"></i>
                </div>
            </header>      
        </div>
    </div>
</div>
    <!--  / Google Map -->

    <!-- Search -->
    <div class="container">
        <div class="row">
            <div class="form-group search rounded col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-4">
                <%= form_tag(places_path, method: :get, id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: 'Search' %>
                <%= button_tag '', class: "btn-img" %>
                <% end %>
            </div>    
        </div>
    </div>
    <!-- / Search -->

<% if @places.present? %>

<% @places.each do |place| %>

<div class="row center-block">
    <div class="col-xs-10 col-md-4 col-md-3 col-lg-2 hero-feature">
        <div class="thumbnail">
            <a href="/places/<%= place.id%>"><div class="erven linkone"><img src="<%= place.logo %>" alt=""></div></a>
            <div class="caption">
                <address>
                    <span><%= place.name %></span>
                    <p><%= place.address %></p>
                    <p><%= place.phone %></p>
                </address>
                <p>Visited: <%= place.month %> <%= place.day %>, <%= place.year %> </p>
                <p>From: <%= place.time_from %> to: <%= place.time_to %> </p>
                    <% if (place.users.count - 1) == 0 %>
                <p>People: &nbsp;<small style="color:red">Only you!</small></p>
                <% else %> 
                <p>People: <%= place.users.count - 1 %></p>
                <% end %>
                <p class="bottom_btns">
                    <%= link_to  image_tag('/images/trash.png'), place, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn_mybtn2" %>
                </p>
            </div>
        </div>
    </div>
    <% end %>
    <% else %>

    <p class="lead">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        There are no places containing the term(s) <span id="one"><%= params[:search] %>.</span></p>

        <% end %>

        <% else %> 
        <p class="text-info">There are no chosen places in your list.</p>
        <script>
              $(document).ready(function() {
                function myHeight() {
                  var footer = $(".navbar-bottom").height(),
                      height = $(window).height(),
                      setHeight = height - footer -65;
                $("#mmain").css({"height": setHeight, "padding-bottom":"0px"});
                }
                myHeight();
                $(window).on('resize', function() {
                  myHeight();
                });
              });
        </script>
        <% end %>


<style>

.search input {width: 280px;outline: none;padding:3px 10px 3px 10px;margin-bottom: 20px;}
.rounded input {border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}
.btn-img {background: url('/images/search.png') no-repeat 3px 12px;margin-top: 3px;width: 36px;height: 36px;background-image:;border-color: #fff;outline: none;border:0;}
.hero-feature {min-height: 320px;}
.lead, .text-info {text-align: center;}
.text-info{position: absolute;top: 50%;left: 40%;font-size: 20px;color: #fff;}
#one {color: #ed551e;}@media(max-width: 768px){.search input{width: 200px;}}
</style>

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_oNEK2a5Mht0QETqahvFpLeD7bU6UkAw&callback=initMap">
</script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> 
<script>
    window.initMap = function() {
        var uluru = <%=raw @hash.to_json %>;
        // console.log(uluru)
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru[0],
            draggable: true
        });

            for(i=0; i<uluru.length; i++) {
              var marker = new google.maps.Marker({
                position: uluru[i],
                map: map,
                title: uluru[i].marker_title
            });

            (function(marker){
                google.maps.event.addListener(marker, 'click', function(){

                    var infowindow = new google.maps.InfoWindow({
                        content: marker.title
                });     

                infowindow.open(map,marker);
                });
            })(marker);
            }

            function createMarker(position, title) {
                return new google.maps.Marker({
                position: {lat:lat, lng:lng  
                }, 
                map:map, 
                title: marker_title
                });
            }
        }
</script>