<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>



<style>
        
    body {
        margin:0;
        text-align:center;
        }

     

    body .slider {

        overflow:hidden;
        position:relative;
        width:800px;
        height:500px;
        margin:0 auto;

        }
     
    body .slider .slides {

        position:relative;
        transition:1s;

        }

    body .slider .slides .slide {

        float:left;    
        display:block;

        }

    body .slider .slides .slide img{
        
        width:800px;
        height:500px;

        }

     
    body .slider .next {

        position:absolute;
        height:50px;
        width:50px;
        right:0;
        top:225px;
        z-index:1;
        cursor:pointer;

        }

     
    body .slider .prev {

        position:absolute;
        height:50px;
        width:50px;
        left:0;
        top:225px;
        z-index:1;
        cursor:pointer;

        }


     body .slider .next img:hover  {
        
        opacity: 0.5;
        
        }   

    body .slider .prev img:hover  {
        
        opacity: 0.5;
        
        }   
    p, address, h2 {
        text-align: left;
    }

</style>

<script>
   
    $(document).ready(function() { 
                               
        var slides = $(".slider .slides").children(".slide");
        var width = $(".slider .slides").width(); 
        var i = slides.length;
        var offset = i * width;
        i--; 
            $(".slider .slides").css('width',offset);
        
            offset = 0; 
            $("body .slider .next").click(function(){ 
           

            if (offset < width * i) { 
                offset += width;
                $(".slider .slides").css("transform","translate3d(-"+offset+"px, 0px, 0px)");
            }
        });


        $("body .slider .prev").click(function(){  
            if (offset > 0) {
                offset -= width; 
                $(".slider .slides").css("transform","translate3d(-"+offset+"px, 0px, 0px)"); 
            }
        });

    });

</script>

 <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="tagline"><%= @place.name %></h3>
                </div>
            </div>
        </div>
    </header>

        <div class="slider">

            <div class="next"><img src="/images/next.png"></div>

                <div class="prev"><img src="/images/prev.png"></div>

                    <div class="slides">
                        <% @photos.each do |photo| %>
                             <div class="slide">

                             <img class="image_place" src="<%= photo[:source] %>">
                                     
                           </div>
                        <% end %>
                    </div>

                </div>

            </div>
        
    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="/users/profile">Back &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong><%= @place.name %></strong><br>
                    <br><%= @place.address %>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr><%= @place.phone %>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <% if @place.users.count <= 1 %>
            Only you
          <% elsif @place.users.count <= 2 %> 
            You, and one other
           <% else %> 
            You, and <%= @place.users.count - 1%> others
        <% end %>

        <% @users.each do |user|
            unless user.id == current_user.id %>
                <div class="row">
                    <div class="col-sm-4">
                        <%= image_tag user.avatar.url(:medium), class: "img-circle img-responsive img-center" %>
                        <h4><a href='/users/<%= user.id %>'><%= user.firstname %> <%= user.lastname %></a></h4>
                    </div>
            <% end %>
        <% end %>
