<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<style>
        
    body {
        margin:0;
        }
     

    body .slider {

        overflow:hidden;
        position:relative;
        width:800px;
        height:500px;
        margin:0 auto;
        background: rgb(100,100,100) radial-gradient(circle at 0 0, 
                    rgba(255,255,255,.65), 
                    rgba(255,255,255,.35));
        box-shadow:
            inset rgba(0,0,0,.5) -3px -3px 8px,
            inset rgba(255,255,255,.9) 3px 3px 8px,
            rgba(0,0,0,.8) 3px 3px 8px -3px;
            
        }
     
    body .slider .slides {

        position:relative;
        transition:1s;

        }

    body .slider .slides .slide {

        float:left;    
        display:block;

        }

    body .slider .slides .slide img{
        
        width:800px;
        height:500px;

        }

     
    body .slider .next {

        position:absolute;
        height:50px;
        width:30px;
        right:10px;
        top:220px;
        z-index:1;
        cursor:pointer;

        }

     
    body .slider .prev {

        position:absolute;
        height:50px;
        width:30px;
        left:10px;
        top:220px;
        z-index:1;
        cursor:pointer;

        }


     body .slider .next img:hover  {
        
        opacity: 0.5;
        
        }   

    body .slider .prev img:hover  {
        
        opacity: 0.5;
        
        }   
    p, address, h2 {
        text-align: left;
    }
    .btn-warning {
        margin-top: 40px;
    }
    

</style>

<script>
   
    $(document).ready(function() { 
                               
        var slides = $(".slider .slides").children(".slide");
        var width = $(".slider .slides").width(); 
        var i = slides.length;
        var offset = i * width;
        i--; 
            $(".slider .slides").css('width',offset);
        
            offset = 0; 
            $("body .slider .next").click(function(){ 
           

            if (offset < width * i) { 
                offset += width;
                $(".slider .slides").css("transform","translate3d(-"+offset+"px, 0px, 0px)");
            }
        });


        $("body .slider .prev").click(function(){  
            if (offset > 0) {
                offset -= width; 
                $(".slider .slides").css("transform","translate3d(-"+offset+"px, 0px, 0px)"); 
            }
        });

    });

</script>

 <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="tagline"><%= @place.name %></h3>
                </div>
            </div>
        </div>
    </header>

        <div class="slider">

            <div class="next"><img src="/images/next.png"></div>

                <div class="prev"><img src="/images/prev.png"></div>

                    <div class="slides">
                        <% @photos.each do |photo| %>
                             <div class="slide">

                             <img class="image_place" src="<%= photo[:source] %>">
                                     
                           </div>
                        <% end %>
                    </div>

                </div>

            </div>
        
    <!-- Page Content -->
    <div class="container">

        <hr id="a">

        <div class="row">
            <div class="col-sm-8">
                <h3 id="quoteone">Sometimes you need a Second Chance, because you weren't quite ready for the first.</h3>
                <p>
                    <a class="btn btn-warning btn-lg" href="/places">Back &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <address>
                    <h2 id="plname"><%= @place.name %></h2><br>
                    <br><%= @place.address %>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr><%= @place.phone %>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <% if @place.users.count <= 1 %>
                <p class="count_people">Only you</p>
            <% elsif @place.users.count <= 2 %> 
                <p class="count_people">You, and one other</p>
                    <% else %> 
                        <p class="count_people">You, and <%= @place.users.count - 1%> others</p>
                    <% end %>

        <% @users.each do |user|
            unless user.id == current_user.id %>
                <div class="row">
                    <div class="col-sm-4">
                        <%= image_tag user.avatar.url(:medium), class: "img-circle img-responsive img-center img-thumbnail" %>
                        <h4 class="image_bottom"><a href='/users/<%= user.id %>'><%= user.firstname %> <%= user.lastname %></a></h4>
                    </div>
            <% end %>
        <% end %>
    </div>
